<div class="container">
  <h1>{{ titulo }}</h1>

  <form>
    <div class="form_group">
      <label>Operando A</label>
      <input
        type="number"
        class="form-control"
        name="operandoA"
        placeholder="Escribe operando A"
        [(ngModel)]="operandoA"
      />
      <label>Operando B</label>
      <input
        type="number"
        class="form-control"
        name="operandoB"
        placeholder="Escribe operando B"
        [(ngModel)]="operandoB"
      />
      <button type="submit" class="btn btn-primary mt-2" (click)="sumar()">
        Sumar
      </button>

      <p class="mt-1">Resultado: {{ resultado }}</p>
    </div>
  </form>
</div>
