<form class="row g-3">
  <div class="col-md-5">
    <label for="nombre" class="visually-hidden">Nombre</label>
    <input
      type="text"
      class="form-control"
      name="nombre"
      id="nombre"
      placeholder="nombre"
      #nombreInput
    />
  </div>
  <div class="col-md-5">
    <label for="apellido" class="visually-hidden">Apellido</label>
    <input
      type="text"
      class="form-control"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      #apellidoInput
    />
  </div>
  <div class="col-md-2">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="agregar()"
    >
      Agregar
    </button>
  </div>
</form>
